@font-face {
    font-family: Convergence;
    font-style: normal;
    font-weight: 400;
    src: local("Convergence-Regular"), url("../fonts/Convergence-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    src: local("glyphicons-halflings-regular"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Blambot Casual";
    src: local("Blambot-Casual"), url("../fonts/Blambot-Casual-Regular.woff2") format("woff2");
}

@keyframes kf-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes kf-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

:root {
    --rgb-font: #333;
    --rgb-font--muted: #777;
    --rgb-name: #822000;
    --rgb-bg: #fff;
    --rgb-bg--alt: #f5f5f5;
    --rgb-border--statblock: #e69a28;
}

:root.ve-night-mode {
    --rgb-font: #bbb;
    --rgb-name: #d29a38;
    --rgb-bg: #222;
    --rgb-bg--alt: #383838;
    --rgb-border--statblock: #565656;
}

:root {
    --safe-area-inset-top: 0;
    --safe-area-inset-right: 0;
    --safe-area-inset-bottom: 0;
    --safe-area-inset-left: 0;
}

.glyphicon-send {
    top: 2px;
    right: 1px;
}

.glyphicon--top-2p {
    top: 2px;
}

.roller {
    color: #337ab7;
    cursor: pointer;
}

.font-ui {
    font-family: Arial, sans-serif;
}

@media screen and (width <= 768px) {
    .help--hover {
        cursor: default !important;
        text-decoration: none !important;
    }
}

body {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    padding: var(--safe-area-inset-top) var(--safe-area-inset-right) var(--safe-area-inset-bottom) var(--safe-area-inset-left);
}

body.is-fullscreen .page__header,
body.is-fullscreen .page__nav {
    display: none;
}

input {
    min-width: 0;
}

input[type=checkbox],
input[type=radio] {
    margin: 0;
}

main {
    padding: 10px 15px;
}

footer {
    padding: 20px 15px;
    font-size: 90%;
}

pre,
textarea {
    tab-size: 2;
}

hr {
    flex-shrink: 0;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
    }
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #cbcbcb;
}

body {
    scrollbar-width: auto;
}

body::-webkit-scrollbar {
    width: 15px;
}

.container {
    position: relative;
}

.input-xs {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.form-control--minimal {
    border-radius: 0;
    padding: 0 2px;
}

.ve-flex-label {
    display: inline-flex;
    align-items: center;
}

.ve-flex-label > input[type=checkbox],
.ve-flex-label > input[type=radio] {
    margin: 0 0 0 5px;
}

.ve-btn-xxs {
    padding: 0 2px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.ve-btn-primary--half {
    background: repeating-linear-gradient(135deg, #337ab7, #337ab7 16px, #b8b8b8 16px, #b8b8b8 32px);
}

.ve-dropdown-menu--side {
    top: -10px;
    left: 100%;
    max-height: calc(100vh - 190px);
    overflow-y: auto;
}

.nav > li > a {
    padding: 5px 14px 6px;
}

@media screen and (width > 991px) {
    .nav > li > a {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media screen and (width <= 991px) {
    .nav > li {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

.page__nav-inner > li.active > a,
.page__nav-inner > li.active > a:focus,
.page__nav-inner > li.active > a:hover {
    background-color: #006bc4;
    border-top: 0;
}

@media screen and (width > 991px) {
    .page__nav-inner > li.active > a,
    .page__nav-inner > li.active > a:focus,
    .page__nav-inner > li.active > a:hover {
        border-left: 1px solid rgba(0, 0, 0, 0);
        border-right: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid #999;
    }
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: rgba(0, 0, 0, .1);
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: rgba(0, 0, 0, .1);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.ve-dropdown-menu > li > a.ve-dropdown-ext-link {
    display: flex;
    justify-content: space-between;
}

.ve-dropdown-menu > li > a.ve-dropdown-ext-link:hover {
    padding-right: 10px;
}

.ve-dropdown-menu > li > span {
    cursor: pointer;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.ve-dropdown-menu > li > span:focus,
.ve-dropdown-menu > li > span:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.ve-dropdown-menu > .disabled > span {
    pointer-events: none;
    color: #777;
}

.ve-dropdown-menu > .disabled > span:focus,
.ve-dropdown-menu > .disabled > span:hover {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
}

.ve-dropdown-menu > .ctx-danger > span {
    background: #d9534f;
    color: #fff;
}

.ve-dropdown-menu > .ctx-danger > span:focus,
.ve-dropdown-menu > .ctx-danger > span:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ac2925;
}

.ve-dropdown-ext-link > .glyphicon {
    top: 3px;
    display: none;
}

.ve-dropdown-ext-link:hover > .glyphicon {
    display: inline-block;
}

.caret--right {
    transform: rotate(270deg);
}

.input-group > input.form-control,
.input-group > label,
.input-group > button,
.input-group > a.ve-btn {
    border-radius: 0;
    border-right: 0;
}

.input-group > input.form-control:first-child,
.input-group > label:first-child,
.input-group > button:first-child,
.input-group > a.ve-btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.input-group > input.form-control:last-child,
.input-group > label:last-child,
.input-group > button:last-child,
.input-group > a.ve-btn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #ccc;
}

.input-group--top input.form-control:first-child,
.input-group--top label:first-child,
.input-group--top button:first-child,
.input-group--top a.ve-btn:first-child {
    border-bottom-left-radius: 0;
}

.input-group--top input.form-control:last-child,
.input-group--top label:last-child,
.input-group--top button:last-child,
.input-group--top a.ve-btn:last-child {
    border-bottom-right-radius: 0;
}

.input-group--middle input.form-control,
.input-group--middle label,
.input-group--middle button,
.input-group--middle a.ve-btn {
    border-top: 0;
}

.input-group--middle input.form-control:first-child,
.input-group--middle label:first-child,
.input-group--middle button:first-child,
.input-group--middle a.ve-btn:first-child {
    border-radius: 0;
}

.input-group--middle input.form-control:last-child,
.input-group--middle label:last-child,
.input-group--middle button:last-child,
.input-group--middle a.ve-btn:last-child {
    border-radius: 0;
}

.input-group--bottom input.form-control,
.input-group--bottom label,
.input-group--bottom button,
.input-group--bottom a.ve-btn {
    border-top: 0;
}

.input-group--bottom input.form-control:first-child,
.input-group--bottom label:first-child,
.input-group--bottom button:first-child,
.input-group--bottom a.ve-btn:first-child {
    border-top-left-radius: 0;
}

.input-group--bottom input.form-control:last-child,
.input-group--bottom label:last-child,
.input-group--bottom button:last-child,
.input-group--bottom a.ve-btn:last-child {
    border-top-right-radius: 0;
}

.ve-night-mode .input-group > input.form-control:last-child,
.ve-night-mode .input-group > label:last-child,
.ve-night-mode .input-group > button:last-child,
.ve-night-mode .input-group > a.ve-btn:last-child {
    border-right-color: #555;
}